
/*General styles*/
:root{
    --fuente-principal:"Monotype"
}
body{
    background-image: url('https://i.ibb.co/CpF3ypxD/descarga.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
nav{
    margin: 10%;
    font-family: var(--fuente-principal)!important;
}
footer{
    margin-bottom: 40%;
}
